<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Unity-iPhone.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7E0A2193D6028B9C393FBCE1176262E6ECC1598A</string>
				<key>dateExpires</key>
				<string>7/21/20</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>RV6W4HL7TY.com.EruptionGames.EL</string>
				<key>com.apple.developer.team-identifier</key>
				<string>RV6W4HL7TY</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>RV6W4HL7TY.com.EruptionGames.EL</string>
				</array>
			</dict>
			<key>name</key>
			<string>EuclidsLock.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9d3236ca-71d3-4745-b258-c5dc003d5290</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.EruptionGames.*</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>RV6W4HL7TY</string>
				<key>name</key>
				<string>Uroš Joksimović</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
